<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

      <title>Mood Watch</title>

  </head>

  <body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mood Watch</a>
            </div>
        </div>
    </nav>

    <div class="container">

      <div class="row">
              <h1>Social Media Posts</h1>
      </div>

      <br>

      <div class="row">
        <form action="." method="POST">
            <textarea class="form-control" name="contents" placeholder="What's on your mind?"></textarea>
            <input type="submit" class="btn btn-success" value="Post">
        </form>
      </div>

    <br><br>

    <div class="row">
            <b>Posts:</b>
    </div>

    {% for comment in comments %}
        <div class="row">
            {{ comment }}
        </div>
    {% endfor %}

    <br>

    <div class="row">
            <b>Mood Scores:</b>
    </div>

      {% for mood in moods %}
          <div class="row">
              {{ mood }}
          </div>
      {% endfor %}

    <br>

    <hr>

    <div class="row">
            <h1>Mood Watch Monitoring</h1>
    </div>

    <br>

    <div class="row">
            <b>Name: Jane &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Baseline Mood: {{baselineMood}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Today's Mood: {{sessionMood}}</b>
    </div>

    <br>

    <div class="row">
            <b>Mood Ring</b>
    </div>

    <br>

    <svg height="100" width="100">
      <circle cx="50" cy="50" r="55" stroke="white" stroke-width="3" fill="{{color}}" />
    </svg>

    </div><!-- /.container -->

  </body>

</html>
